* {
  box-sizing:border-box;
  margin: 0;
  padding: 10px;
}

html, body {
  height:100%;
  width:100%;
}

body {
  align-content:center;
  justify-content:center;
  background-color: grey;
  color:#ffffff;
  display:grid;

  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color:rgb(34, 30, 29);
}

canvas {
  background-color:rgb(34, 30, 29);
  // color: rgb(187, 129, 76);
}

#message {
  position: relative;
}

.images {
  display: none;

  // #table {
  // }

  // #cat {
  // }
}


