* {
  box-sizing:border-box;
  margin: 0;
  padding: 10px;
}

html, body {
  height:100%;
  width:100%;
}

body {
  align-content:center;
  justify-content:center;
  background-color: grey;
  color:#ffffff;
  display:grid;

  text-align: center;
}

canvas {
  background-color:#ffffff;
  // color: rgb(187, 129, 76);
}

#message {
  position: relative;
}

.images {
  // display: none;

  #table {
    height: 150px;
    width: 300px;
  }

  #cat {
    border: 1px solid red;
    padding: 0;
    height: 40px;
    width: 60px;
  }
}